<!-- <p>loading-table works!</p> -->
<!-- <form id="serach_form" class="top" action="/search/get" method="get">
    <div class="row" id="searchRow">
        <div class="col-md-12 nopadding">

            <div class="col-md-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12" id="addressRow">
                    <div>
                        <div id="search_block">
                            <input id="product" type="text" class="form-control" name="product" autocomplete="off" placeholder="Rechercher..." value="" data-original-title="" title="">
                            <input id="search_id" type="hidden" name="search_id">
                            <input id="search_cat" type="hidden" name="search_cat">
                            <input id="product_slug" type="hidden" name="product_slug">
                            <div class="field-error"></div>
                                                            <ul id="search_suggestions_product" class="suggestions hidden" style="width: 694px;"></ul>
                        </div>
                    </div>
                    <div style="width: 60px;">
                        <div class="btn-group">
                            <button id="searchButton" type="button" class="btn btn-primary" style="margin-left: 5px">
                                &nbsp;<i class="fa fa-search"></i>&nbsp;
                            </button>

                        </div>
                    </div>

                    <div class="field-error"></div>
                                        </div>
            </div>
        </div>
    </div>
</form> -->
<nav>
    <ul>
        
        <li><a href="#">Accueil </a></li>  
         <li class="deroulant"><a href="#"> medications &ensp;</a>
             <ul class="sous">
                 <li><a href="macroeconomie.html">medicines for children</a></li> 
                 <li><a href="microéconomie.html">adult medication</a></li> 
            <li><a href="#">medicines for the elderly</a></li> 
          
             </ul>
         </li> 
       
         <li class="deroulant"><a href="#">Pharmacies &ensp;</a>
                     <ul class="sous">
                    <li><a href="#">guard phramacia</a></li> 
                     <li><a href="#"> pharmacie de jourday pharmacy</a></li> 
          
             </ul>
         </li> 
         <li class="deroulant"><a href="#">
            pharmacy directory &ensp;</a>
             <ul class="sous">
               
             </ul>
         </li> 
         <li class="deroulant"><a href="#">registration/login &ensp;</a>
             <ul class="sous">
               <li><a href="#">register</a></li>
               <li><a href="#">login</a></li> 
              
             </ul>
         </li> 
    </ul>
</nav>
