<div class="hassan">
<h1> Detail Drug</h1>
</div>
<form action="/ma-page-de-traitement" method="post">
    <div>
        <label for="username">Code cip :{{medicament.code_cip}}</label>
        
    </div>
    <div>
        <label for="nom_medoc">nom_medoc:{{medicament.nom_medoc}}</label>
    </div>
    <div>
        <label for="forme">forme:{{medicament.forme}}</label>
    </div>
    
	<div>
        <label for="dosage_medoc">dosage_medoc:{{medicament.dosage_medoc}}</label>
    </div>
       <div>
        <label for="msg">notice_medoc :</label>
        <textarea id="msg" name="notice_medoc"></textarea>
    </div> 
    <div>
        <label for="conditionnement_medoc">conditionnement_medoc:{{medicament.conditionnement_medoc}}</label>
    </div>
    <div>
        <label for="conditionnement_medoc">conditionnement_medoc:{{medicament.conditionnement_medoc}}</label>
    </div>
    <div>
        <label for="categories">categories:{{medicament.categories}}</label>
         
    </div>
    <div>
        <label for="age">age:</label>
    </div>
</form>