<div class="hassan">
<h1> USER PROFIL</h1>
</div>
<form action="/ma-page-de-traitement" method="post">
    <div>
        <label for="username">User Name :{{user.username}}</label>
        
    </div>
    <div>
        <label for="firstname">First Name :{{user.firstname}}</label>
        
    </div>
  <!--   <div>
        <label for="msg">Message :</label>
        <textarea id="msg" name="user_message"></textarea>
    </div> -->
	<div>
        <label for="userphone">Phone Number : {{user.userphone}}</label>
        
    </div>
	<div>
        <label for="roles">Role : {{user.roles}}</label>
        
    </div>
	<div>
        <label for="email">Email :{{user.email}}</label>
        
    </div>
	<div>
        <label for="profession">Profession :{{user.profession}}</label>
        
    </div>
	<div>
        <label for="sexe">Sexe :{{user.sexe}}</label>
        
    </div>
	<div>
        <label for="pays">Pays :{{user.adresse}}</label>
        
    </div>
	<div>
        <label for="ville">Ville :{{user.adresse}}</label>
        
    </div>
</form>