

<mat-toolbar  class="mat-elevation-z4">
	<div class="actions" >
		<button *ngIf="!user" mat-raised-button color="primary" [routerLink]="['/login']" class="action-button login">login</button>

		<button *ngIf="!user" mat-raised-button color="primary" [routerLink]="['/register']" class="action-button register">register</button>
		<button *ngIf="user" mat-raised-button color="primary" [routerLink]="['/auth/dashboard']" class="action-button register">dashboard</button>

	</div>
</mat-toolbar>

<div class="research-div" >
	<div >
		<h1 class="app-pharma">APP PHARMA</h1>
	</div>
	<mat-form-field class="search" appearance="outline"  > 
	  <input (focusout)="focusOutFunction()" (focus)="focusFunction()" matInput placeholder="Search a drug" name="search" autocomplete="off" [(ngModel)]="searchInput" >
	   <article class="results"   [ngClass]="{'results-hide': showProps != true}">
	   
		<ul>
		  <div *ngFor="let medicament of medicaments | search: searchInput" (click)="setInput(medicament)" class="medoc-item">
			 {{medicament.nom_medoc}} 
		</div>
		</ul>
	</article> 

	</mat-form-field>
	<button mat-fab (click)="search();" class="search-button" color="primary"  >  
	   
		<i class="material-icons app-toolbar-menu">search </i> 
	  </button>

  </div>
